---
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>

<nav class="menubar">
    <div class="wrap">
      {% include menubar.html %}
    </div>
</nav>
<header class="header">
  <div class="logo">
    <a href="/">
      <img src="{{ site.path }}/assets/img/flatMapLogo2019.png" alt="flatMap(Oslo) 2019" />
    </a>
  </div>
  <div class="hero">
    <div class="wrap">
      <div class="date">8-9 May 2019, Oslo Norway</div>
      <p class="">
        A functional programming conference
        with focus on Scala and the Java Virtual Machine
      </p>
    </div>
  </div>
</header>
<div class="wrap">
    <div class="embed-container">
        <iframe src="//www.youtube.com/embed/63KXYCIG3W8?&amp;autoplay=0&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;loop=1&amp;mute=1&amp;modestbranding=1&amp;disablekb=1&amp;enablejsapi=1&amp;" frameborder="0"></iframe>
    </div>      <!-- https://youtube.com/embed/63KXYCIG3W8?autoplay=1&controls=0&showinfo=0&autohide=1" --> 
</div>

<div class="wrap">
  {%include section_call_for_paper.html %}
</div>
<div class="wrap"> 
  {%include section_ticket_sale.html %}
</div>

<div class="wrap">
  {%include section_speakers.html %}
</div>

<!--
<div class="wrap">
  {%include section_schedule.html %}
</div>
-->

<div class="wrap">
  {%include section_about.html %}
</div>

{% include venue_map.html %}

<div class="wrap">
  {%include section_venue.html %}
</div>

{% include footer.html %}

</body>
</html>
