<div id="ticket_sale" >
    <h2>Ticket sale is open!</h2>
    <p>
        At flatMap(Oslo) we love sharing our knowledge with the community,
        which is why recordings of all talks are freely available.

        We strongly urge you to sample the talks from last year on
        <a href="https://www.youtube.com/channel/UCynvzr-sppV3ybDOKxMcqMg">Youtube</a>
        or prior years on
        <a href="https://vimeo.com/user18356272">our vimeo page</a>
        .
    </p>

    <p>
        Prepare to be intrigued, awed and enlightened.
        Our ambition is that there shall always be something to learn for programmers at all levels.
    </p>
    <div class="announce" style="margin:1rem">
        <a class="button" href="https://ti.to/flatmap-oslo/2019">
            <div class="lookAndFeel light-green" style="padding: 1rem 2rem">
                Get your ticket today!
            </div>
        </a>
    </div>
</div>
