<section id="ticket_sale" >
    <h2>Ticket sale is still open!</h2>
    <p>
        At flatMap(Oslo) we love sharing our knowledge with the community,
        which is why recordings of all talks are freely available.

        We strongly urge you to sample the talks from prior years at
        <a href="https://vimeo.com/user18356272">our vimeo page</a>.
    </p>

    <p>
        Prepare to be intrigued, awed and enlightened.
        Our ambition is that there shall always be something to learn for programmers at all levels.
    </p>

        <a class="button" href="https://ti.to/flatmap-oslo/2019">
            <div class="lookAndFeel {{page.lookAndFeel}}">
                Tickets
            </div>
        </a>
</section>