<section id="about" >
    <h2>About</h2>

    <p>flatMap(Oslo) is an annual conference in Oslo, Norway.
        From the beginning in 2011 we have focused on functional programming in general
        and Scala in particular.</p>

    <p>Last year's conference was yet another great success with about 100 energized
        attendants, listening to 22 amazing speakers from all over the world.</p>

    <p>The next conference will be on May 3rd and 4th 2018.
        The goal for this year is the same. Small and intimate, but with high ambitions.
        We hope you will join us.</p>

    <p>flatMap(Oslo) is organized by a group of developers from Arktekk AS, a small
        independent consultancy based in Oslo, Norway.
        Together with our awesome sponsors we work hard to give you a conference
        tailored for enthusiasts of Scala and functional programming in general.</p>

    <p>The economic goal for flatMap(Oslo) is to break even. We will put all funds into
        making the conference better.</p>

    <p>If you have any questions, or would like more information, do not hesitate to
        contact us at <a href="mailto:flatmap@arktekk.no">flatmap@arktekk.no</a>
    </p>
</section>