<section id="venue">
    <h2>
        Welcome to Gamle Museet (The Old Museum)
    </h2>

    <p>Once an exquisite display of modern art, we felt it was a natural match for
        a functional programming conference.
        We are hopeful it will provide a perfect atmosphere.</p>

    <p>Gamle Museet is located in the centre of Oslo, five minutes walking from the central station.
    </p>
    <div class="vertical-space-above"></div>

    <img
            src="{{site.path}}/assets/img/venue.png"
            alt="Picture of venue"
    />

</section>