
<section class="schedule_frontpage">
    <h1>Schedule</h1>
    <div class="days">
        <a href="#day0" class="day">Day 0</a> | <a href="#day1" class="day">Day 1</a> | <a href="#day2" class="day">Day 2</a>
    </div>
    <div class="row">
        <a name="schedule"></a>        

        <div class="day">
            <a name="day1"></a>
            <h3>DAY 1</h3>
        </div>
        <div class="schedule">
            <div class="item">
                <div class="time">08:00</div>
                <div class="conference ">REGISTRATION, COFFEE</div>
            </div>
            <div class="item">   
                <div class="time">08:45</div>
                <div class="conference ">WELCOME, PRACTICAL INFORMATION</div>
            </div>

            {% include slot.html time="10:10" talk="de-goes" %}
            {% include slot.html time="10:10" talk="assum" %}
            {% include slot.html time="10:10" talk="duponcheel" %}
            {% include slot.html time="10:10" talk="birchall" %}
            {% include slot.html time="10:10" talk="hauck" %}
            {% include slot.html time="10:10" talk="harlin" %}
            {% include slot.html time="10:10" talk="kaeser" %}
            {% include slot.html time="10:10" talk="lambda" %}
        </div>
        <div class="day">
            <a name="day2"></a>
            <h3>DAY 2</h3>
        </div>
        <div class="schedule">  
            {% include slot.html time="10:10" talk="millidahl" %}
            {% include slot.html time="10:10" talk="davletkaliyev" %}
            {% include slot.html time="10:10" talk="jordan" %}
            {% include slot.html time="10:10" talk="osheim" %}
            {% include slot.html time="10:10" talk="skully" %}
            {% include slot.html time="10:10" talk="van-geest" %}
            {% include slot.html time="10:10" talk="wickstrom" %}
            {% include slot.html time="10:10" talk="ypma" %}
            {% include slot.html time="10:10" talk="menestret" %}
        </div>
    </div>
</section>
