{% for talk in site.talks %}
    {% if talk.page_name == include.talk %}
        <div class="{{talk.type}} lookAndFeel {{talk.lookAndFeel}}">
            <a href="{{ talk.url }}">
                <div class="time">{{include.from}} - {{include.to}}</div>
                <div>{{talk.title}}</div>
                <div class="speaker"> 
                    {% for speaker in talk.speakers %}
                        <div class="image">
                            <img class="speakerImage" src="/assets/img/{{speaker.image}}" />
                        </div>
                        <div class="schedule_speaker">{{speaker.name}}</div>
                    {% endfor %}
                </div>
                <div class="schedule_type">{{talk.type}}</div>
            </a>
        </div>
    {% endif %}
{% endfor %}
