<div class="speakers">
{% for talk in site.data.talks %}
  {% for speaker in talk.speakers %}
    <div class="speaker_gallery_item">
      <div class="profile">
        <a href="{{ site.path }}/talks/{{talk.page_name}}/"><img src="{{ site.path }}/assets/img/{{ speaker.image}}" alt="{{speaker.name}}" /></a>
      </div>
      <span class="titleTalk">
        <div class="speakername">
          <a href="{{ speaker.twitter_link }}" target="_blank">{{speaker.name}}</a>
        </div>
      </span>
    </div>
  {% endfor %}
{% endfor %}
</div>

