@import "atom";

.wrap {
  width: calc(100% - 1rem);
  max-width: 720px;
  display: block;
  margin: 0 auto;
  clear: both;
}

h1, h2, h3, h4, h5, h6{
  a{
    text-decoration: none;
  }
}

a.button{
  @extend %lookAndFeelBackground;

  display: inline-block;

  margin: $style-margin-medium 0;

  text-decoration: none;
  
  text-align: center;

  div{
    display: inline;
    font-weight: $style-bold;
    padding: $style-margin $style-margin-medium;
    color: $color-white;
    text-transform: uppercase;
  }
}

section{
  img {
    max-width: 100%;
  }
}

header{

  .logowrapper{
    display: inline-block;
    @extend %lookAndFeelBackground;
  }

  img{
    max-width: 350px;
    max-width: 100px;
    padding: 3*$style-margin;
    width: 100%;
  }
  @include on-device(small){
    img{
      justify-content: center;
    }
  }
  .mini.logo{
    border-radius: 0 0 3*$style-margin 0;
    margin-right: $style-margin-medium;
  }

  a{
    text-decoration: none;
    text-transform: uppercase;
  }
  
  nav{
    margin-top: $style-margin-medium;
    display: inline-block;
    vertical-align: top;
  }
}


nav {
  
  margin-bottom: $style-margin-large;
  margin-top: $style-margin-medium;
  text-align: center;

  a {
    text-decoration: none;
    text-transform: uppercase;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    display: block;
    justify-content: center;

    li {
      text-align: center;
      padding: $style-margin;
      padding-right: 2*$style-margin;
      display: inline-block;

    }
  }
}

.index{
  nav{
    @extend %lookAndFeelBorder;
    a:hover {
      text-decoration: none;
      border-bottom-width: 0;
    }
    a{
      border-bottom: solid $style-margin/2;
      padding-bottom: 0;
      margin-bottom: 0;
      line-height: 0;
      margin-top: $style-margin * 4;
    }
  }
}


.header {
  text-align: center;

  .text{
    vertical-align: top;
  }

  img {
    width: 80vh;
    @media screen and (min-width: 610px) {
      max-width: 610px;
    }
    @media screen and (max-width: 599px) {
      max-width: calc(100% - 1rem) ;
    }
  }
}

.about, .sponsorer {
  padding-top: $style-margin-large;
  padding-bottom: $style-margin-large;
}

.about {
  .firm {
    font-weight: $style-bolder;
  }
}

.footer {
  background: $color-gray-lighter;
  ul {
    list-style: none;
  }

  @extend %lookAndFeelBackground;

  .about{
    text-align: center;
    color: $color-white;
    a{
      color: $color-white;
    }
  }

}

.hero {
  margin-left: $style-margin-medium;
  margin-right: $style-margin-medium;
  margin-bottom: $style-margin-large;
  margin-top: $style-margin-medium;
  text-align: center;
  font-size: 1.2rem;

  .date{
    font-weight: 500;
  }
}

.content {
  margin-left: $style-margin-medium;
  margin-right: $style-margin-medium;
  margin-bottom: $style-margin-large;
  color: $color-text;
}


.text-center{
  text-align: center;
}

.gallery {
  clear: both;

  padding-bottom: 0;

  li {
    margin: $style-margin;
    display: inline-block;
    @media screen and (max-width: 799px) {
      width: calc((100% - 2rem) / 2);
    }

    @media screen and (min-width: 800px) {
      width: calc((100% - 3rem) / 3);
    }

    img {
      width: 100%;
    }
  }
}

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 

  iframe, .object, embed {
    position: absolute; 
    top: 2; 
    left: 0; 
    width: 100%; 
    height: 100%;
  }
}

.speakerImage {
  width: 180px;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);

}
